## This is for DEV. It runs the Dockerfile with hot reloading

services:
  app:
    build: .

    volumes:
      - .:/app
      - /app/node_modules

    # ENABLE HOT RELOADING
    command: bun --hot src/index.ts

    ports:
      - "3000:3000"

    environment:
      - NODE_ENV=development
