@import "../styles/globals.css";

@layer base {
    :root {
        @apply font-sans;
    }

    body {
        @apply grid place-items-center min-w-[320px] min-h-screen relative m-0 bg-linear-60 from-secondary  to-primary text-foreground;
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 256px 224px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion) {
    *,
    ::before,
    ::after {
        animation: none !important;
    }
}
